

@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Open+Sans&display=swap'); /******SANS 1******/
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Open+Sans&display=swap');/*****BLAKA 2*****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");/*****Monserrat*****/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');/*****Roboto*****/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');/*****Josefin*****/


*{
    margin:0;
    padding:0;
}

body
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

.content p{
    font-weight: 200;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.nav-bar h1{
    font-family: 'Roboto Mono', monospace;
}

.nav-bar{
    font-family: "Montserrat", sans-serif;
    padding: 20px 20px 20px 20px;
    position: fixed;
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    align-items: center;
    left: 50%;
    box-sizing: border-box;
}

ul li{
    font-weight: 600;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

.logo{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    right: 50%;
    top: 20px;
    width: 50px;
    height: 50px;

}

.logo img{
    max-height: 80px;
    max-width: 80px;
}

.nombre{
    display: inline-block;
    position: relative;
    right: 40%;
    bottom: 33px;
}

.divider{
    background-color: #525254;
    background-image: linear-gradient(160deg, #525254 10%, #ffffff 51%);
    display: inline-block;
    position: relative;
    height: 2000px;
    width: 40%;
    right: 54%;
    bottom: 133px;
    z-index: -1;
}

.unreal{
    display: inline-block;
    position: relative;
    top: 17%;
    left: 10%
}
.unreal img{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    
}

.content{
    position: relative;
    top: 16%;
    bottom: 50px;
    padding: 50px;
    display: inline-block;
    position: relative;
    width: 35%;
    left: 15%;
    height: 5in;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: content-box;
}

.content h1{
    font-size: 70px;
}




